*.jar
*.class
out
*.py[cod]
*~
*.war
*target*
*.idea



web-pages/closure-library

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
*.bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/netbeans-sln/core-layer/nbproject/private/
*.jar
*.class
out
*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
/netbeans-sln/core-layer/nbproject/private/
/netbeans-sln/app/nbproject/private/

projects/research/test_data/
impls/vcard-gae-maven/target/

vocabulary-cards-gae-mvn2/.idea

